[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest = "*"
pytest-django = "*"
psycopg2 = "*"
djangorestframework = "*"
drf-nested-routers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
pillow = "*"
django-filter = "*"
pytest-factoryboy = "*"
faker = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"

[dev-packages]
pytest-watch = "*"
autopep8 = "*"

[requires]
python_version = "*"
